<p>first works!</p>
<div class="m-2" *ngIf="userData">
  <p class="mb-3">Name: {{ userData.name }}</p>
  <p class="mb-3">Age: {{ userData.age }}</p>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="../../third-component"
        >Relative Route to third component</a
      >
    </li>
    <li>
      <a href="#" (click)="moveTo($event)"
        >Relative Route to third component - programmatically</a
      >
    </li>
    <li><a routerLink="child-a">Child A</a></li>
    <li><a routerLink="child-b">Child B</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
