<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
      <div class="">
        <button class="btn btn-sm btn-secondary" type="button">Switch to Log In</button>
      </div>
    </form>
  </div>
</div>
