<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <ng-template appAlertHost></ng-template>
    <div class="d-flex justify-content-center" *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!loading">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter email"
          name="email"
          ngModel
          required
          email
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div class="mb-3">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="authForm.invalid"
        >
          {{ logInMode ? 'Login' : 'Sign Up' }}
        </button>
      </div>
      <div class="">
        <button
          class="btn btn-sm btn-secondary"
          type="button"
          (click)="onSwitchAuthModes()"
        >
          Switch to {{ logInMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
