<h1 class="mb-3">Practise</h1>
<div class="m-3">
  <button class="btn btn-success m-2" (click)="login()">login</button>
  <button class="btn btn-danger m-2" (click)="logout()">logout</button>
  <div
    class="m-2 alert"
    [ngClass]="{
      'alert-success': authStatus === 'Member',
      'alert-warning': authStatus === 'Guest'
    }"
  >
    {{ authStatus }}
  </div>
</div>
<nav>
  <ul>
    <li>
      <a
        routerLink="/first-component/first"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >First Component</a
      >
    </li>
    <li>
      <a
        routerLink="/second-component/second"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Second Component</a
      >
    </li>
    <li>
      <a
        routerLink="/third-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Third Component</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
